@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  --yellow: rgba(255, 206, 32, 0.8);
  --red: rgba(197, 0, 0, 0.8);
  --blue: rgba(0, 89, 171, 0.8);
  --cyan: rgba(15, 255, 169, 0.8);
  background: conic-gradient(
    from 180deg at 50% 50%,
    transparent 0deg,
    var(--blue) 72.0000010728836deg,
    var(--cyan) 144.0000021457672deg,
    var(--yellow) 216.00000858306885deg,
    var(--red) 288.0000042915344deg,
    transparent 1turn
  );
}

.glow-box {
  box-shadow: 0 0 30px 5px #0ff;
}

section,
footer {
  z-index: 15555;
}

body .reviews .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 310px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 35px;
}

@media (min-width: 425px) {
  .reviews .swiper-slide {
    width: 400px !important;
  }
}

@media (min-width: 768px) {
  .reviews .swiper-slide {
    width: 500px !important;
  }
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.reviews .swiper-wrapper {
  align-items: center;
}

.swiper-slide-shadow-coverflow {
  border-radius: 35px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 35px;
}

.swiper.prev {
  height: 80vh;
  margin-right: 8px;
  width: 100%;
}

.swiper.prev .swiper-slide {
  height: 100%;
  width: 100%;
}

a {
  border: 2px solid green;
}
a div {
  border: 2px solid red;
}
